body {
    /*font-family: Arial, sans-serif;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eef1f4;
    margin: 0;
    padding: 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}
main {
  flex: 1;
}

header {
    background-color: #007bff;
    color: white;
    padding: 30px 0;
    position: relative; /* permite posicionar el botón dentro */
}

h1 {
    margin: 0;
}

p {
    margin-top: 5px;
    font-size: 16px;
}

.contenido {
    padding: 40px 20px;
}

img {
    margin-top: 20px;
    border-radius: 8px;
}

.boton_Superior {
    display: flex;             /* alinea texto e imagen */
    align-items: center;              /* centra verticalmente */
    justify-content: center;
    padding: 8px 16px;
    background-color: #ffffff;        /* azul más oscuro */
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;

    position: absolute;               /* posición dentro del header */
    right: 15px;                      /* <-- mueve el botón a la derecha */    
}
.boton_Superior img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-30%);
}

.boton {
    display: inline-block;
    margin: 15px 10px;
    padding: 12px 24px;
	background-color: #007bff; /*en inicio se reitera esta proopiedad para poder cambiarla en caso de que usuario sea admin*/
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;      /* usa la misma fuente del resto de la página */
    font-size: 16px;           /* fuerza un tamaño de texto uniforme */
    line-height: 1;            /* ajusta la altura de línea */
    border: none;              /* elimina el borde predeterminado del <button> */
    text-align: center;         /* centra el texto */
}

.boton:hover {
    background-color: #0056b3;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

footer {
    padding: 20px;
    font-size: 14px;
    background-color: #f4f4f4;
    
}

#contenido {
    margin-top: 20px;
}

/* Alinea los botones a la izquierda */
#botones {
    text-align: left;       /* Alinea los enlaces dentro a la izquierda */
    margin-left: 40px;      /* Separa un poco del borde */
}

#botones .boton {
    display: inline-block;  /* Asegura que queden uno al lado del otro */
}

.btn-subir {
  background: #27ae60;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;

  position: absolute;
  right: 20px;  
  bottom: 30px;
}

.btn-subir:hover {
  background: #219a52;
  text-decoration: none;
  color: white;
}
